@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Fjalla+One|Rock+Salt|Advent+Pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/images/malcolmX.jpg");
    font-family: 'Advent Pro', sans-serif;
}

header {
    padding-top: 20px;
    font-size: 55px;
    color: red;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

#info {
    position: fixed;
    top: 140px;
    left: 30px;
    border: 3px solid lightgray;
    border-radius: 6px;
    border-radius: 6px solid lightgray;
    background-color: rgba(214, 16, 16, 0.521);
    font-family: 'Advent Pro', sans-serif;
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: 10px 10px 8px #4e4e4e;
    margin: 5px;
    width: auto;
    height: auto;
}

#popbox {
    position: fixed;
    top: 140px;
    right: 50px;
    padding: 5px;
    margin: 5px;
    background-repeat: no-repeat;
    width: 189px;
    height: 189px;
    border: 3px solid lightgray;
    border-radius: 6px;
    background-color:  rgba(238, 241, 21, 0.39);
    box-shadow: 10px 10px 8px #4e4e4e;
    color: white;
}

#count-timer {
    position: fixed;
    top: 170px;
    left: 650px;
    font-size: 60px;
    color: rgba(255, 254, 254, 0.623);;
    width: 75px;
    text-align: center;
}

#quiz {
    position: relative;
    top: 245px;
    right: -50px;
    margin: 10px auto;
    border: 2px solid lightgray;
    padding: 15px 20px;
    width: 650px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #4e4e4e;
    background-color: rgba(18, 189, 12, 0.432);
}
img {
    height: 175px;
    width: 175px;
}
#question, h2, h3, p {
    color: rgb(255, 255, 255);
    margin: 3px;
    padding: 3px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    text-align: left;
}

#fourQuestions {
    color: rgb(7, 6, 6);
    background-color: wheat;
    text-align: left;
    margin-top: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    border: 2px solid darkgray;
    border-radius: 30px;
    /* padding: 10px 5px;
    margin: 5px; */
}

#start-over, #start-quiz, #button {
    background-color: wheat;
    width: auto;
    margin: 3px;
    padding: 2px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    border: 2px solid darkgray;
    border-radius: 30px;
}

#start-quiz:hover, #start-over:hover, #button:hover {
    cursor: pointer;
    color: rgb(56, 42, 42);
    background-color: darkgray;
}

#start-quiz:focus, #start-over:focus, #button:focus {
    outline: 0;
}
